<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/assets/img/logo-pic.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.css">
    <title>BloodDono-Admin</title>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <a href="#" class="logo">
                    <div class="logo-pic line"><img src="/assets/img/logo-pic.png" alt=""></div>
                    <div class="logo-name line">BloodDono <sup><sup>Admin</sup></sup></div>
                </a>

                <div class="log-in-out">
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
            </div>
        </div>
    </header>

    <div id="content">
        <div class="container-fluid">
            <h1 class="heading-waiting-list">
                Danh sách bệnh viện chờ xét duyệt
                <div class="waiting-number">(5)</div>
            </h1>

            <div class="row table-header">
                <div class="col-1">STT</div>
                <div class="col-3">Username</div>
                <div class="col-3">Tên bệnh viện</div>
                <div class="col-3">Địa chỉ</div>
            </div>

            <ul class="waiting-list">
                <li class="row">
                    <div class="col-1">1</div>
                    <div class="col-3">bvQuocTeVinmecDaNang</div>
                    <div class="col-3">Bệnh viện Quốc tế Vinmec Đà Nẵng</div>
                    <div class="col-4">30 tháng 4, Hòa Cường Bắc, Hải Châu, Đà Nẵng</div>
                    <button class="col-1">Liên lạc</button>
                </li>
                
            </ul>

            <h1>Tỉ lệ bệnh viện được xét duyệt</h1>

            <div class="row summary">
                <div class="sum-account tag">
                    <div>
                        <p><i class="fa-solid fa-circle"></i> Tổng số tài khoản</p>
                    </div>

                    <div class="sum-number"></div>
                </div>

                <div class="accept-account tag">
                    <div>
                        <p><i class="fa-solid fa-circle"></i> Đã được xét duyệt</p>
                    </div>

                    <div class="radios">
                        <div class="acp-number"></div>
                        <div class="acp-radios"></div>
                    </div>
                </div>

                <div class="waiting-account tag">
                    <div>
                        <p><i class="fa-solid fa-circle"></i> Đang chờ xét duyệt</p>
                    </div>
                    <div class="radios">
                        <div class="wait-number"></div>
                        <div class="wait-radios"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<script>
    const waitingList = document.querySelector('.waiting-list');
    const waitingCount = waitingList.querySelectorAll('li').length;

    const headingWaitingNumber = document.querySelector('.waiting-number');
    headingWaitingNumber.innerHTML = `(${waitingCount})`;

    const sumAccount = document.querySelector('.sum-account');
    const sumCount = sumAccount.querySelector('.sum-number').innerHTML = 102;

    const acceptAccount = document.querySelector('.accept-account');
    const acceptCount = sumCount - waitingCount;
    acceptAccount.querySelector('.acp-number').innerHTML = acceptCount;

    const acceptRadios = acceptAccount.querySelector('.acp-radios');
    acceptRadios.innerHTML = `${Math.abs((acceptCount / sumCount) * 100).toFixed(1)}%`;

    const waitingAccount = document.querySelector('.waiting-account');
    waitingAccount.querySelector('.wait-number').innerHTML = waitingCount;

    const waitingRadios = waitingAccount.querySelector('.wait-radios');
    waitingRadios.innerHTML = `${Math.abs((waitingCount / sumCount) * 100).toFixed(1)}%`;
</script>
</html>