<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/assets/img/logo-pic.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.css">
    <title>BloodDono-Admin</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <a href="#" class="logo">
                    <div class="logo-pic line"><img src="/assets/img/logo-pic.png" alt=""></div>
                    <div class="logo-name line">BloodDono <sup><sup>Admin</sup></sup></div>
                </a>

                <div class="log-in-out">
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
            </div>
        </div>
    </header>

    <div id="content">
        <div class="container-fluid">
            <h1 class="heading-waiting-list">
                Danh sách bệnh viện
            </h1>

            <div class="row table-header">
                <div class="col-1">STT</div>
                <div class="col-3">Username</div>
                <div class="col-3">Tên bệnh viện</div>
                <div class="col-3">Địa chỉ</div>
            </div>

            <ul class="waiting-list">
            </ul>

            <h1>Tỉ lệ bệnh viện được xét duyệt</h1>

            <div class="row summary">
                <div class="sum-account tag">
                    <div>
                        <p><i class="fa-solid fa-circle"></i> Tổng số tài khoản</p>
                    </div>

                    <div class="sum-number"></div>
                </div>

                <div class="accept-account tag">
                    <div>
                        <p><i class="fa-solid fa-circle"></i> Đã được xét duyệt</p>
                    </div>

                    <div class="radios">
                        <div class="acp-number"></div>
                    </div>
                </div>

                <div class="waiting-account tag">
                    <div>
                        <p><i class="fa-solid fa-circle"></i> Đang chờ xét duyệt</p>
                    </div>
                    <div class="radios">
                        <div class="wait-number"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="Modal js-Modal">
        <div class="Modal-container">
            <i class="close js-close fa-solid fa-xmark"></i>
            <div class="Modal-header">Thông tin chi tiết</div>

            <div class="detail"></div>
            <div class="Buttons">
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.get('/api/hospital')
        .then(res => {
            console.log(res.data.data);
            const data = res.data.data;
            const waitingList = document.querySelector('.waiting-list');
            let numericalOrder = 0;
            let acpCount = 0;
            data.forEach(element => {
                numericalOrder++;
                if (element.isVerified == 1) {
                    acpCount++;
                }
                const fullAddress = element.address.street + ", " + element.address.ward + ", " + element.address.district + ", " + element.address.province;
                const waitingItem = document.createElement('li');
                waitingItem.classList.add('row', 'waiting-item');
                waitingItem.innerHTML = `
                    <div class="col-1">${numericalOrder}</div>
                    <div class="col-3">${element.username}</div>
                    <div class="col-3">${element.name}</div>
                    <div class="col-4">${fullAddress}</div>
                    <button class="col-1 btn-contact"
                        data-username="${element.username}"
                        data-name="${element.name}"
                        data-address="${fullAddress}"
                        data-phone="${element.phoneNumber}"
                        data-email="${element.email}"
                        data-isVerified="${element.isVerified ? 1 : 0}">Chi tiết</button>
                `;
                const btnContact = waitingItem.querySelector('.btn-contact');
                if (element.isVerified == 1) {
                    btnContact.style.backgroundColor = 'rgb(29, 218, 105)';
                }
                else {
                    btnContact.style.backgroundColor = 'rgb(255, 100, 90)';
                }
                waitingList.appendChild(waitingItem);
            });
            const btnContact = document.querySelectorAll('.btn-contact');
            const modal = document.querySelector('.js-Modal');
            const modalClose = document.querySelector('.js-close');
            const detail = document.querySelector('.detail');
            const buttons = document.querySelector('.Buttons');
            btnContact.forEach(btn => {
                btn.addEventListener('click', (e) => {
                    detail.innerHTML = `
                <div class="hospital-username flex">
                    <!--<div style="margin-right: 4px;">Username bệnh viện:</div>-->
                    <h3 class="username">${e.target.getAttribute('data-username')}</h3>
                </div>

                <div class="label">Tên bệnh viện</div>
                <div class="hospital-name">${e.target.getAttribute('data-name')}</div>

                <div class="label">Địa chỉ</div>
                <div class="hospital-address flex">
                    <!-- <div class="street">2 tháng 9</div> -->
                    <div class="ward-district-city">${e.target.getAttribute('data-address')}</div>
                </div>

                <div class="contact flex">
                    <div class="phone-number">
                        <div class="label">Số điện thoại</div>
                        <div class="hospital-phone">${e.target.getAttribute('data-phone')}</div>
                    </div>

                    <div class="email">
                        <div class="label">Email</div>
                        <div class="hospital-email">${e.target.getAttribute('data-email')}</div>
                    </div>
                </div>
                `;
                    if (e.target.getAttribute('data-isVerified') == '0') {
                        buttons.innerHTML = ` 
                    <button class="reject" data-username="${e.target.getAttribute('data-username') ?? ''}"><i class="fa-regular fa-trash-can" ></i> Từ chối</button>
                    <button class="accept" data-username="${e.target.getAttribute('data-username') ?? ''}"><i class="fa-regular fa-circle-check" ></i> Xét duyệt</button>
                `;
                    }
                    else {
                        buttons.innerHTML = '';
                    }
                    modal.classList.add('open');
                    const rejectBtn = document.querySelector('.reject');
                    const acceptBtn = document.querySelector('.accept');
                    rejectBtn.addEventListener('click', (e) => {
                        const username = e.target.getAttribute('data-username');
                        axios.post(`http://localhost:3000/user/${username}/delete-user`)
                            .then(res => {
                                console.log(res);
                                alert(res.data.message);
                                window.location.reload();
                            })
                            .catch(err => {
                                alert(err.response.data.message);
                            })
                    });
                    acceptBtn.addEventListener('click', (e) => {
                        const username = e.target.getAttribute('data-username');
                        axios.post(`http://localhost:3000/user/${username}/approve-hospital`)
                            .then(res => {
                                console.log(res);
                                alert(res.data.message);
                                window.location.reload();
                            })
                            .catch(err => {
                                alert(err.response.data.message);
                            })
                    });
                });
            });
            modalClose.addEventListener('click', () => {
                modal.classList.remove('open');
            });
            const sumNumber = document.querySelector('.sum-number');
            const acpNumber = document.querySelector('.acp-number');
            const waitNumber = document.querySelector('.wait-number');
            sumNumber.innerHTML = data.length;
            acpNumber.innerHTML = acpCount;
            waitNumber.innerHTML = data.length - acpCount;

        })
        .catch(err => {
            console.log(err);
        })
</script>
<script>


</script>

</html>