<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/donor.css">
    <link rel="icon" href="/assets/img/logo-pic.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.css">
    <title>BloodDono-Người hiến máu</title>
</head>

<body>
    <div id="header">
        <div class="container-fluid">
            <div class="row">
                <a href="/" class="logo">
                    <div class="logo-pic line"><img src="/assets/img/logo-pic.png" alt=""></div>
                    <div class="logo-name line">BloodDono</div>
                </a>
                <div class="log-in-out">
                    <a href="/logout" class="login line"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div id="content">
        <div class="container d-flex justify-content-center">
            <div class="row donor-box d-flex justify-content-around">

                <div class="col-3">
                    <!-- Hình ảnh và tên user -->
                    <div class="user-interface">
                        <img src="/assets/img/user_avt.png" alt="" class="user-avt">
                        <div class="file-input">
                            <input type="file" id="uploadImage" name="myImage" accept="image/png, image/jpg, image/jpeg"
                                hidden>
                            <label for="uploadImage" class="btnUpload"><i class="fa-solid fa-camera"></i></label>
                        </div>
                        <div class="user-name">-</div>
                        <!-- <input type="file" id="uploadImage" name="myImage"> -->
                    </div>
                    <!-- ------------------------------------- -->
                    <!-- Các chức năng -->
                    <div class="func-btn">
                        <button class="btn change-password">Đổi mật khẩu</button>
                        <button class="btn change-info">Thay đổi thông tin</button>
                        <button class="btn donation-record">Lịch sử hiến máu</button>
                        <button class="btn search-hospital">Tìm nơi hiến máu</button>
                    </div>
                    <!-- ------------------------------------- -->
                </div>

                <div class="col-8">
                    <!-- Thông tin cá nhân -->
                    <div class="basic info">
                        <div class="row">
                            <div class="frame">
                                <label for="">Họ và tên</label> <br>
                                <input type="text" name="name" id="name" readonly>
                            </div>
                            <div class="frame">
                                <label for="">Ngày sinh</label> <br>
                                <input type="text" name="" id="birth" onfocus="(this.type='date')" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="frame">
                                <label for="">Số điện thoại</label> <br>
                                <input type="tel" name="" id="phoneNumber" readonly>
                            </div>
                            <div class="frame">
                                <label for="">Email cá nhân</label> <br>
                                <input type="email" name="" id="email" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="frame">
                                <label for="">Địa chỉ</label>
                                <input type="text" name="" id="address" class="input-adr record" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- ---------------------------------------- -->

                    <!-- Thông tin sức khỏe -->

                    <div class="health info">
                        <div class="row">
                            <div class="frame">
                                <label for="">Chiều cao (cm)</label> <br>
                                <input type="text" name="" id="height" readonly>
                            </div>
                            <div class="frame">
                                <label for="">Cân nặng (kg)</label> <br>
                                <input type="text" name="" id="weight" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="frame">
                                <label for="">Giới tính</label> <br>
                                <input type="text" name="" id="gender" readonly>
                            </div>
                            <div class="frame">
                                <label for="">Nhóm máu</label> <br>
                                <input type="text" name="" id="bloodType" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="frame">
                                <label for="">Lịch sử bệnh án</label> <br>
                                <div id="medical"></div>
                            </div>
                        </div>
                    </div>
                    <!-- ---------------------------------------- -->

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const userName = '<%= username %>';
        const img = document.querySelector('.user-avt');
        axios.get(`http://localhost:3000/api/user/${userName}`)
            .then(function (response) {
                // handle success
                const userData = response.data.data;
                const name = document.getElementById('name');
                name.value = userData.name;
                document.querySelector('.user-name').innerHTML = userData.name;
                const birth = document.getElementById('birth');
                birth.value = userData.birth;
                const phoneNumber = document.getElementById('phoneNumber');
                phoneNumber.value = userData.phoneNumber;
                const email = document.getElementById('email');
                email.value = userData.email;
                const address = document.getElementById('address');
                const fullAddress = `${userData.address.street != null ? `${userData.address.street}, ` : ''}${userData.address.ward}, ${userData.address.district}, ${userData.address.province}`;
                address.value = fullAddress;
                const height = document.getElementById('height');
                height.value = userData.height;
                const weight = document.getElementById('weight');
                weight.value = userData.weight;
                const gender = document.getElementById('gender');
                gender.value = userData.gender ? 'Nam' : 'Nữ';
                const bloodType = document.getElementById('bloodType');
                bloodType.value = userData.bloodType;
                img.src = userData.photo != null ? userData.photo : "/assets/img/help.png";
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            });
        axios.get(`http://localhost:3000/api/illness/${userName}`)
            .then(function (response) {
                // handle success
                const illnessData = response.data.data;
                const medical = document.getElementById('medical');
                illnessData.forEach(illness => {
                    medical.innerHTML += `<input type="text" title="${illness.IllnessName}" class="sick-tag med-history" value="${illness.IllnessName}" readonly required/>`
                });
            })
    </script>
    <!-- upload image -->
    <script>
        const fileInput = document.getElementById('uploadImage');
        fileInput.addEventListener('change', (e) => {
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append("myImage", file);
            axios.post(`http://localhost:3000/user/${userName}/upload-image`, formData)
                .then((response) => {
                    img.src = response.data.imageLink;
                })
                .catch((error) => {
                    console.error(error);
                });
        });
    </script>
    <!-- button -->
    <script>
        const changePasswordBtn = document.querySelector('.change-password');
        const changeInfoBtn = document.querySelector('.change-info');
        const historyExamBtn = document.querySelector('.donation-record');
        const searchHospitalBtn = document.querySelector('.search-hospital');
        changePasswordBtn.addEventListener('click', () => {
            window.location.href = `/user/${userName}/update-password`;
        });
        changeInfoBtn.addEventListener('click', () => {
            window.location.href = `/user/${userName}/update-profile`;
        });
        historyExamBtn.addEventListener('click', () => {
            window.location.href = `/user/${userName}/donate-history`;
        });
        searchHospitalBtn.addEventListener('click', () => {
            window.location.href = `/user/${userName}/search-hospital`;
        });

    </script>
</body>

</html>