<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/logo-pic.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/campaign.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.css">
    <title>BloodDono-Thêm chiến dịch mới</title>
</head>

<body>
    <div id="header">
        <div class="container-fluid">
            <div class="row logo">
                <a href="/" class="logo col-md-4">
                    <img src="/assets/img/logo-pic.png" alt="" class="logo-pic line">
                    <div class="logo-name line">BloodDono</div>
                </a>
            </div>

            <div class="row heading">
                <div class="rectangle">Tạo chiến dịch hiến máu mới</div>
                <div class="triangle"></div>
            </div>
        </div>
    </div>

    <div id="content">
        <form action="" class="container">
            <!-- Tên chiến dịch -->
            <div class="row d-flex justify-content-center">
                <div class="col-2">Tên chiến dịch</div>
                <input type="text" name="" id="name" class="col-5 padding-0" required>
            </div>
            <!-- ---------------------- -->
            
            <!-- Thời gian -->
            <div class="row d-flex justify-content-center">
                <div class="col-2">Thời gian</div>
                <div class="col-5 padding-0 timer">
                    <input type="text" name="" id="start" placeholder="Bắt đầu" onfocus="(this.type='datetime-local')"
                        required>
                    <input type="text" name="" id="end" placeholder="Kết thúc" onfocus="(this.type='datetime-local')"
                        class="float-right" required>
                </div>
            </div>

            <!-- Số lượng -->
            <div class="row d-flex justify-content-center">
                <div class="col-2">Số lượng</div>
                <input type="text" name="" id="quantity" class="col-5 padding-0">
            </div>
            <!-- ---------------------- -->

            <div class="row d-flex justify-content-center" id="Address">
                <div class="col-2">Địa điểm</div>
                <div class="col-5 padding-0">
                    <input type="text" class="street" placeholder="Số nhà/Tên đường" />
                    <div class="row padding-0 combobox">
                        <select class="ward" name="ward" required>
                            <option value="default" selected disabled hidden>Chọn xã</option>
                        </select>
                        <select class="district" name="district" required>
                            <option value="default" selected disabled hidden>Chọn huyện/phường</option>
                        </select>
                        <select class="province" name="province" required>
                            <option value="default" selected disabled hidden>Chọn tỉnh</option>
                        </select>
                    </div>
                </div>

            </div>
            <!-- ---------------------- -->

            <div class="row d-flex justify-content-center">
                <div class="col-2"></div>
                <div class="col-5 padding-0">Chiến dịch khi tạo sẽ được hiển thị trên trang chủ
                    và sẽ được gửi thông báo tới các người dùng.</div>
            </div>

            <div class="row d-flex justify-content-center">
                <button class="btn-create-campaign">Tạo chiến dịch</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- get data for address -->
    <script>
        const province = document.querySelector('.province');
        const district = document.querySelector('.district');
        const ward = document.querySelector('.ward');
        axios.get('http://localhost:3000/api//address/province')
            .then((response) => {
                // handle success
                const data = response.data;
                data.forEach(element => {
                    province.innerHTML += `<option value="${element.Province_id}">${element.Name}</option>`;
                });
            })
            .catch((error) => {
                // handle error
                console.log(error);
            });
        province.addEventListener('change', (e) => {
            const province_id = e.target.value;
            axios.get(`http://localhost:3000/api/address/district/${province_id}`)
                .then((response) => {
                    // handle success
                    const data = response.data;
                    district.innerHTML = `<option value="default" selected disabled hidden>Chọn huyện/phường</option>`;
                    ward.innerHTML = `<option value="default" selected disabled hidden>Chọn xã</option>`;
                    data.forEach(element => {
                        district.innerHTML += `<option value="${element.District_id}">${element.Name}</option>`;
                    });
                })
                .catch((error) => {
                    // handle error
                    console.log(error);
                });
        });
        district.addEventListener('change', (e) => {
            const district_id = e.target.value;
            axios.get(`http://localhost:3000/api/address/ward/${district_id}`)
                .then((response) => {
                    // handle success
                    const data = response.data;
                    ward.innerHTML = `<option value="default" selected disabled hidden>Chọn xã</option>`;
                    data.forEach(element => {
                        ward.innerHTML += `<option value="${element.Wards_id}">${element.Name}</option>`;
                    });
                })
                .catch((error) => {
                    // handle error
                    console.log(error);
                });
        });
    </script>
    <script>
        const submitBtn = document.querySelector('.btn-create-campaign');
        const username = '<%=username%>';
        submitBtn.addEventListener('click', (e) => {
            e.preventDefault();
            const eventName = document.getElementById('name');
            const eventQuantity = document.getElementById('quantity');
            const eventStartTime = document.getElementById('start');
            const eventEndTime = document.getElementById('end');
            const street = document.querySelector('.street');
            const eventAddress = {
                street: street.value,
                ward: ward.value,
                district: district.value,
                province: province.value
            };
            const data = {
                eventName: eventName.value,
                eventQuantity: eventQuantity.value,
                eventStartTime: eventStartTime.value,
                eventEndTime: eventEndTime.value,
                eventAddress: eventAddress
            };
            console.log(data);
            axios.post(`http://localhost:3000/event/create-event`, data)
                .then((response) => {
                    // handle success
                    console.log(response);
                    window.location.href = `http://localhost:3000/user/${username}`;
                })
                .catch((error) => {
                    // handle error
                    console.log(error);
                });
        });
    </script>
    
</body>
</html>