<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/logo-pic.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style-login.css" type="text/css" />
    <link rel="stylesheet" href="assets/font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css" />
    <link rel="stylesheet" href="assets/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.css" />
    <title>BloodDono</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <div class="container-fluid fixed-top">
                <div class="row">
                    <a href="" class="logo">
                        <div class="logo-pic line"><img src="assets/img/logo-pic.png" alt=""></div>
                        <div class="logo-name line">BloodDono</div>
                    </a>
                    <div class="userInfo">
                        <label>Xin chào <b>
                                <%= username %>
                            </b> </label>
                        <a href="<%= link %>" class="login line">
                            <%= text %>
                        </a>
                        <a href="/logout" class="login line">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="slider">
            <div class="panel-heading">
                <img src="/assets/img/mainBackground.png" class="img-fluid" alt="">
                <div class="box">
                    <h1 class="boxHeading">Hiến máu vì cộng đồng</h1>
                    <p class="boxContent">Với mỗi lần hiến máu bạn có thể mang lại cơ hội cứu sống
                        3 người. Hãy cứu lấy mạng người khác bằng những giọt máu của mình.
                    </p>
                    <a href="#event-panel" class="blood-register line">Tôi muốn hiến máu</a>
                    <a href="/search" class="blood-need line">Tôi đang tìm nguồn máu</a>
                </div>
            </div>
        </div>

        <!-- Bảng sự kiện gần nhất -->
        <div id="event-panel">
            <ul class="lastest-events">
                <h1>Sự kiện mới nhất</h1>
            </ul>
        </div>
        <!-- ------------------------------------------------------- -->

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 about-pic">
                        <img src="assets/img/about-pic.png" alt="">
                    </div>

                    <div class="col-md-7 about-content">
                        <h1 class="about-heading">Về dự án</h1>
                        <p class="about-description">
                            Dự án được phát triển với mục tiêu giúp đỡ các bệnh nhân
                            đang cần tìm nguồn máu, và cũng là nơi để những người hiến máu chủ động tham gia đóng
                            góp cho cộng đồng.
                        </p>
                        <p class="about-description">
                            Ngoài ra, dự án còn giúp đỡ các tổ chức y tế tìm nguồn máu đáng tin cậy và nhanh chóng
                            bằng cách cải thiện việc quản lý và sử dụng nguồn máu sống, tăng cường kết nối giữa nguồn
                            hiến và người cần.
                        </p>
                    </div>
                </div>
            </div>

            <div class="grey-background">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="choice-panel">
                            <h3>Lợi ích của việc hiến máu</h3>
                            <img src="assets/img/blooddonation-pic.png" alt="">
                            <p>Một nguồn máu dồi dào đóng vai trò quan trọng trong sức khỏe của xã hội và trong việc ứng
                                phó
                                với các thảm họa.</p>
                            <!-- <a href="" class="choice btn">Tìm hiểu thêm</a> -->
                            <div class="js-open-benefit btn">Tìm hiểu thêm</div>
                        </div>

                        <div class="choice-panel">
                            <h3>Điều kiện hiến máu?</h3>
                            <img src="assets/img/blood-request.png" alt="">
                            <p>Ai cũng có thể hiến máu miễn là bạn có sức khỏe, nhưng trước hết bạn phải đáp ứng một số
                                điều kiện dưới đây.</p>
                            <!-- <a href="" class="choice btn">Kiểm tra ngay</a> -->
                            <div class="js-open-condition btn">Kiểm tra ngay</div>
                        </div>

                        <div class="choice-panel">
                            <h3>Đóng góp ý kiến</h3>
                            <img src="assets/img/feedback.jpg" alt="">
                            <p>Vì đây là dự án phi lợi nhuận nên chúng tôi rất cần sự góp ý và giúp đỡ trên nhiều mặt
                                đến từ các bạn.</p>
                            <div class="feedback btn">Đóng góp</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 logo margin">
                        <div class="logo-pic line"><img src="/assets/img/logo-pic.png" alt=""></div>
                        <div class="logo-name line">BloodDono</div>
                    </div>

                    <div class="col-md-4 contact margin">
                        <h1>Liên hệ với chúng tôi</h1>
                        <p>Điện thoại : 0702708357</p>
                        <p>Email : <a href="">BloodDonoVietnam@gmail.com</a></p>
                    </div>
                    <div class="col-md-4 social margin">
                        <h1>Theo dõi chúng tôi </h1>
                        <div class="combo">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Modal js-Modal">
        <div class="Modal-container">
            <div class="close js-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <h3 class="Modal-header">Đóng góp ý kiến</h1>

                <div class="Modal-content">
                    <p>Hãy cho chúng tôi biết cảm nhận của bạn!</p>
                    <textarea name="" id="" cols="76" rows="6"></textarea>
                </div>

                <button class="btn-send-feedback">Gửi ý kiến</button>
        </div>
    </div>

    <div class="Modal js-Modal-benefit">
        <div class="Modal-container">
            <div class="close js-close-benefit">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <h1 class="benefit-Modal-header">Lợi ích của việc hiến máu</h1>

            <div class="benefit-Modal-content">
                <p>Việc hiến máu nhân đạo là một nghĩa cử cao đẹp và có nhiều lợi ích cho sức khỏe của người hiến và người nhận.
                    Sau đây là một số lợi ích chính của việc hiến máu nhân đạo:
                </p>
                <ul>
                    <li>Giảm nguy cơ mắc các bệnh về tim mạch mà máu do hấp thụ quá nhiều sắt.</li>
                    <li>Tái tạo các tế bào máu mới, giúp duy trì sức khỏe và miễn dịch của cơ thể.</li>
                    <li>Đốt cháy calo và giúp kiểm soát cân nặng, do cơ thể tiêu tốn năng lượng để bù đắp lượng máu đã mất.</li>
                </ul>

                <p>Ngoài ra, việc hiến máu nhân đạo không chỉ có lợi cho sức khỏe của người hiến và người nhận, mà còn có lợi cho cộng đồng.
                    Sau đây là một số lợi ích của việc hiến máu nhân đạo cho cộng đồng:
                </p>
                <ul>
                    <li>Giúp duy trì nguồn máu an toàn và đủ cho các bệnh viện, phục vụ công tác khám chữa bệnh,
                         đặc biệt là trong các trường hợp cấp cứu, tai nạn, thảm họa, thiên tai.</li>
                    <li>Giúp giảm thiếu tình trạng khan hiếm máu, tránh phải mua bán máu trái phép,
                         gây nguy cơ lây nhiễm các bệnh truyền nhiễm qua đường máu như HIV, viêm gan B, C…</li>
                    <li>Giúp tăng cường tinh thần đoàn kết, sẻ chia, nhân ái trong cộng đồng,
                         góp phần xây dựng một xã hội văn minh và nhân văn.</li>
                </ul>

                <p>Người hiến máu nhân đạo còn được hưởng các quyền lợi khác về tinh thần, vật chất và chính sách theo quy định của pháp luật.
                    Tìm hiểu chi tiết 
                    <a href="https://thuvienphapluat.vn/van-ban/Tai-chinh-nha-nuoc/Thong-tu-05-2017-TT-BYT-chi-phi-xac-dinh-gia-mot-don-vi-mau-toan-phan-che-pham-mau-tieu-chuan-331816.aspx" target="_blank">tại đây.</a>
                </p>
            </div>
        </div>
    </div>

    <div class="Modal js-Modal-condition">
        <div class="Modal-condition-container">
            <div class="close js-close-condition">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <h1 class="condition-Modal-header">Điều kiện hiến máu</h1>

            <div class="condition-Modal-content">
                <h4>Để đảm bảo an toàn cho người hiến máu và người nhận máu, bạn cần trả lời các câu hỏi sau:</h4>
                <ul>
                    <li>
                        <label for="">Bạn có nằm trong khoảng độ tuổi từ 18 đến 60 không?</label> <br>
                        <input type="radio" name="age" class="age" id="" value="true" checked> Có <br>
                        <input type="radio" name="age" class="age" id="" value="false"> Không
                    </li>

                    <li>
                        <label for="">Cân nặng hiện tại của bạn có lớn hơn 42kg với nữ hoặc 45kg với nam không?</label> <br>
                        <input type="radio" name="weight" class="weight" id="" value="true" checked> Có <br>
                        <input type="radio" name="weight" class="weight" id="" value="false"> Không
                    </li>

                    <li>
                        <label for="">Bạn đã nhiễm hoặc đã thực hiện hành vi có nguy cơ nhiễm HIV, 
                            viêm gan B, viêm gan C, và các virus lây qua đường truyền máu chưa?
                        </label> <br>
                        <input type="radio" name="Communicable-disease" class="Communicable-disease" id="" value="false"> Đã từng <br>
                        <input type="radio" name="Communicable-disease" class="Communicable-disease" id="" value="true" checked> Chưa từng
                    </li>

                    <li>
                        <label for="">Bạn có mắc các bệnh mãn tính như tim mạch, huyết áp, hô hấp,...không?</label> <br>
                        <input type="radio" name="Chronic-diseases" class="Chronic-diseases" id="" value="false"> Có <br>
                        <input type="radio" name="Chronic-diseases" class="Chronic-diseases" id="" value="true" checked> Không
                    </li>

                    <li>
                        <label for="">Lần hiến máu gần nhất của bạn có phải cách hiện giờ ít nhất 3 tháng trước không?</label> <br>
                        <input type="radio" name="time" class="time" id="" value="true" checked> Phải <br>
                        <input type="radio" name="time" class="time" id="" value="false"> Không phải
                    </li>
                </ul>
                <button class="result-btn">Kết quả</button>

                <div class="result"></div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        axios.get("http://localhost:3000/api/recentEvent")
            .then((response) => {
                // handle success
                const data = response.data.data;
                const lastestEvents = document.querySelector('.lastest-events');
                const [date, time] = data[0].eventStartTime.split('T');
                data.forEach(element => {
                    lastestEvents.innerHTML += `<li class="event">
                    <a class="event-content" href="http://localhost:3000/event/view/${element.eventID}">
                        <h2 class="event-name">${element.eventName}</h2>

                        <div class="event-time flex">
                            <div class="label">Bắt đầu:</div>
                            <div class="event-time-detail">${date}</div>
                        </div>

                        <div class="event-address flex">
                            <div class="label">Địa điểm:</div>
                            <div class="event-address-detail">${element.eventAddress}</div>
                        </div>
                    </a>
                </li>`;
                });
            })
            .catch((error) => {
                // handle error
                console.log(error);
            });
    </script>

    <script>
        const modal = document.querySelector('.js-Modal');
        const modalClose = document.querySelector('.js-close');

        const modalBenefit = document.querySelector('.js-Modal-benefit');
        const modalBenefitClose = document.querySelector('.js-close-benefit');
        const modalBenefitOpen = document.querySelector('.js-open-benefit');

        const modalCondition = document.querySelector('.js-Modal-condition');
        const modalConditionClose = document.querySelector('.js-close-condition');
        const modalConditionOpen = document.querySelector('.js-open-condition');

        modalBenefitOpen.addEventListener('click', () => {
            modalBenefit.classList.add('open');
        });

        modalBenefitClose.addEventListener('click', () => {
            modalBenefit.classList.remove('open');
        });

        modalConditionOpen.addEventListener('click', () => {
            document.querySelector('.age').checked = false;
            document.querySelector('.weight').checked = false;
            document.querySelectorAll('.Communicable-disease').forEach((item) => {
                item.checked = false;
            });
            document.querySelectorAll('.Chronic-diseases').forEach((item) => {
                item.checked = false;
            });
            document.querySelector('.time').checked = false;
            document.querySelector('.result').innerHTML = '';
            modalCondition.classList.add('open');
        });
        
        modalConditionClose.addEventListener('click', () => {
            modalCondition.classList.remove('open');
        });

        const modalFeedback = document.querySelector('.feedback');
        const username = '<%= username %>'
        modalFeedback.addEventListener('click', () => {
            modal.classList.add('open');
        });

        modalClose.addEventListener('click', () => {
            modal.classList.remove('open');
        });
        const btnSendFeedback = document.querySelector('.btn-send-feedback');
        btnSendFeedback.addEventListener('click', () => {
            const feedbackText = document.querySelector('.Modal-content textarea').value;
            if (feedbackText === '') {
                alert('Vui lòng nhập nội dung đóng góp');
                return;
            }
            const data = {
                username: username,
                feedback: feedbackText
            }
            axios.post(`http://localhost:3000/user/${username}/send-feedback`, data)
                .then((response) => {
                    // handle success
                    alert('Gửi đóng góp thành công');
                    window.location.reload();
                })
                .catch((error) => {
                    // handle error
                    console.log(error);
                });
        });
    </script>

    <script>
        const age = document.querySelectorAll('.age');
        const weight = document.querySelectorAll('.weight');
        const CommunicableDisease = document.querySelectorAll('.Communicable-disease');
        const ChronicDiseases = document.querySelectorAll('.Chronic-diseases');
        const time = document.querySelectorAll('.time');
        const result = document.querySelector('.result');
        const resultBtn = document.querySelector('.result-btn');

        resultBtn.addEventListener('click', () => {
            let count = 0;
            age.forEach((item) => {
                if(item.checked) {
                    if(item.value == 'true') {
                        count++;
                    }
                }
            });

            weight.forEach((item) => {
                if(item.checked) {
                    if(item.value == 'true') {
                        count++;
                    }
                }
            });

            CommunicableDisease.forEach((item) => {
                if(item.checked) {
                    if(item.value == 'true') {
                        count++;
                    }
                }
            });

            ChronicDiseases.forEach((item) => {
                if(item.checked) {
                    if(item.value == 'true') {
                        count++;
                    }
                }
            });

            time.forEach((item) => {
                if(item.checked) {
                    if(item.value == 'true') {
                        count++;
                    }
                }
            });

            if(count == 5) {
                result.innerHTML = 'Chúc mừng, bạn đủ điều kiện hiến máu!';
            } else {
                result.innerHTML = 'Rất tiếc, bạn không đủ điều kiện hiến máu! Để biết điều kiện hiến máu, vui lòng xem <a href="https://vienhuyethoc.vn/mot-so-tieu-chuan-doi-voi-nguoi-tham-gia-hien-mau/" target="_blank">tại đây</a>';
            }
        });
    </script>
</body>

</html>