<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/logo-pic.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style-login.css" type="text/css" />
    <link rel="stylesheet" href="assets/font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css" />
    <link rel="stylesheet" href="assets/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.css" />
    <title>BloodDono</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <div class="container-fluid fixed-top">
                <div class="row">
                    <a href="" class="logo">
                        <div class="logo-pic line"><img src="assets/img/logo-pic.png" alt=""></div>
                        <div class="logo-name line">BloodDono</div>
                    </a>
                    <div class="userInfo">
                        <label>Xin chào <b>
                                <%= username %>
                            </b> </label>
                        <a href="<%= link %>" class="login line">
                            <%= text %>
                        </a>
                        <a href="/logout" class="login line">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="slider">
            <div class="panel-heading">
                <img src="/assets/img/mainBackground.png" class="img-fluid" alt="">
                <div class="box">
                    <h1 class="boxHeading">Hiến máu vì cộng đồng</h1>
                    <p class="boxContent">Với mỗi lần hiến máu bạn có thể mang lại cơ hội cứu sống
                        3 người. Hãy cứu lấy mạng người khác bằng những giọt máu của mình.
                    </p>
                    <a href="register.html" class="blood-register line">Tôi muốn hiến máu</a>
                    <a href="/search" class="blood-need line">Tôi đang tìm nguồn máu</a>
                </div>
            </div>
        </div>

        <!-- Bảng sự kiện gần nhất -->
        <div id="event-panel">
            <ul class="lastest-events">
                <h1>Sự kiện mới nhất</h1>
            </ul>
        </div>
        <!-- ------------------------------------------------------- -->

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 about-pic">
                        <img src="assets/img/about-pic.png" alt="">
                    </div>

                    <div class="col-md-7 about-content">
                        <h1 class="about-heading">Về dự án</h1>
                        <p class="about-description">
                            Dự án được phát triển với mục tiêu giúp đỡ các bệnh nhân
                            đang cần tìm nguồn máu, và cũng là nơi để những người hiến máu chủ động tham gia đóng
                            góp cho cộng đồng.
                        </p>
                        <p class="about-description">
                            Ngoài ra, dự án còn giúp đỡ các tổ chức y tế tìm nguồn máu đáng tin cậy và nhanh chóng
                            bằng cách cải thiện việc quản lý và sử dụng nguồn máu sống, tăng cường kết nối giữa nguồn
                            hiến và người cần.
                        </p>
                    </div>
                </div>
            </div>

            <div class="grey-background">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="choice-panel">
                            <h3>Lợi ích của việc hiến máu</h3>
                            <img src="assets/img/blooddonation-pic.png" alt="">
                            <p>Một nguồn máu dồi dào đóng vai trò quan trọng trong sức khỏe của xã hội và trong việc ứng
                                phó
                                với các thảm họa.</p>
                            <a href="" class="choice btn">Tìm hiểu thêm</a>
                        </div>

                        <div class="choice-panel">
                            <h3>Điều kiện hiến máu?</h3>
                            <img src="assets/img/blood-request.png" alt="">
                            <p>Ai cũng có thể hiến máu miễn là bạn có sức khỏe, nhưng trước hết bạn phải đáp ứng một số
                                điều kiện dưới đây.</p>
                            <a href="" class="choice btn">Kiểm tra ngay</a>
                        </div>

                        <div class="choice-panel">
                            <h3>Đóng góp ý kiến</h3>
                            <img src="assets/img/feedback.jpg" alt="">
                            <p>Vì đây là dự án phi lợi nhuận nên chúng tôi rất cần sự góp ý và giúp đỡ trên nhiều mặt
                                đến từ các bạn.</p>
                            <div class="feedback btn">Đóng góp</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 logo margin">
                        <div class="logo-pic line"><img src="/assets/img/logo-pic.png" alt=""></div>
                        <div class="logo-name line">BloodDono</div>
                    </div>

                    <div class="col-md-4 contact margin">
                        <h1>Liên hệ với chúng tôi</h1>
                        <p>Điện thoại : 0702708357</p>
                        <p>Email : <a href="">BloodDonoVietnam@gmail.com</a></p>
                    </div>
                    <div class="col-md-4 social margin">
                        <h1>Theo dõi chúng tôi </h1>
                        <div class="combo">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Modal js-Modal">
        <div class="Modal-container">
            <div class="close js-close">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <h3 class="Modal-header">Đóng góp ý kiến</h1>

            <div class="Modal-content">
                <p>Hãy cho chúng tôi biết cảm nhận của bạn!</p>
                <textarea name="" id="" cols="76" rows="6"></textarea>
            </div>

            <button class="btn-send-feedback">Gửi ý kiến</button>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        axios.get("http://localhost:3000/api/recentEvent")
            .then((response) => {
                // handle success
                const data = response.data.data;
                const lastestEvents = document.querySelector('.lastest-events');
                const [date, time] = data[0].eventStartTime.split('T');
                data.forEach(element => {
                    lastestEvents.innerHTML += `<li class="event">
                    <a class="event-content" href="http://localhost:3000/event/view/${element.eventID}">
                        <h2 class="event-name">${element.eventName}</h2>

                        <div class="event-time flex">
                            <div class="label">Bắt đầu:</div>
                            <div class="event-time-detail">${date}</div>
                        </div>

                        <div class="event-address flex">
                            <div class="label">Địa điểm:</div>
                            <div class="event-address-detail">${element.eventAddress}</div>
                        </div>
                    </a>
                </li>`;
                });
            })
            .catch((error) => {
                // handle error
                console.log(error);
            });
    </script>

    <script>
        const modal = document.querySelector('.js-Modal');
        const modalClose = document.querySelector('.js-close');
        const modalFeedback = document.querySelector('.feedback');

        modalFeedback.addEventListener('click', () => {
            modal.classList.add('open');
        });

        modalClose.addEventListener('click', () => {
            modal.classList.remove('open');
        });
    </script>
</body>

</html>