<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/logo-pic.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/hospital-register.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css">
    <title>Đăng kí bệnh viện</title>
</head>

<body>
    <div class="contain" id="container">
        <form action="#" class="big-form">
            <!-- Phần thông tin bệnh viện -->
            <div class="form-container persional-info small-form">
                <h1>Thông tin bệnh viện</h1>
                <input type="text" class="customize hospital-name" placeholder="Tên bệnh viện" required />
                <input type="email" class="customize hospital-mail" placeholder="Email" required />
                <input type="tel" class="customize hospital-phone-number" placeholder="Số điện thoại" required />
                <input type="text" class="customize hospital-street" placeholder="Số nhà/Tên đường" required />
                <!-- Địa chỉ bệnh viện -->
                <div class="inline" id="Address">
                    <!-- <input type="text" class="customize hospital-ward" placeholder="Xã/phường" required/>
                    <input type="text" class="customize hospital-district" placeholder="Quận/huyện" required/>
                    <input type="text" class="customize hospital-province" placeholder="Tỉnh/Thành phố" required/> -->
                    <select class="customize hospital-ward" name="ward" required>
                        <option value="default" selected disabled hidden>Chọn xã</option>
                    </select>
                    <select class="customize hospital-district" name="district" required>
                        <option value="default" selected disabled hidden>Chọn huyện/phường</option>
                    </select>
                    <select class="customize hospital-province" name="province" required>
                        <option value="default" selected disabled hidden>Chọn tỉnh</option>
                    </select>
                </div>
                <!-- ----------------- -->

                <button type="submit">Đăng kí</button>
            </div>
            <!-- -------------------------------------- -->

            <!-- Phần thông tin tài khoản bệnh viện -->
            <div class="form-container account-info small-form">
                <h1>Thông tin tài khoản</h1>
                <input type="text" class="customize username" placeholder="Tên đăng nhập" />
                <input type="password" class="customize password" placeholder="Mật khẩu" />
                <!-- sửa -->
                <input type="password" class="customize confirm-password" placeholder="Xác nhận mật khẩu" />
            </div>
            <!-- -------------------------------------- -->
        </form>

        <!-- Phần chuyển đổi giữa 2 form -->
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Quay lại thông tin tài khoản</h1>
                    <p>Bạn muốn thay đổi lại thông tin tài khoản của mình?</p>
                    <button class="ghost" id="Back">Quay lại</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Đi đến thông tin bệnh viện</h1>
                    <p>Thông tin bệnh viện của bạn sẽ được người hiến và người cần máu quan tâm và tiếp cận</p>
                    <button class="ghost" id="Next">Tiếp tục</button>
                </div>
            </div>
        </div>
        <!-- -------------------------------------- -->
    </div>
    <script src="/js/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- get data for address -->
    <script>
        const province = document.querySelector('.hospital-province');
        const district = document.querySelector('.hospital-district');
        const ward = document.querySelector('.hospital-ward');
        axios.get('http://localhost:3000/api//address/province')
            .then((response) => {
                // handle success
                const data = response.data;
                data.forEach(element => {
                    province.innerHTML += `<option value="${element.Province_id}">${element.Name}</option>`;
                });
            })
            .catch((error) => {
                // handle error
                console.log(error);
            });
        province.addEventListener('change', (e) => {
            const province_id = e.target.value;
            axios.get(`http://localhost:3000/api/address/district/${province_id}`)
                .then((response) => {
                    // handle success
                    const data = response.data;
                    district.innerHTML = `<option value="default" selected disabled hidden>Chọn huyện/phường</option>`;
                    ward.innerHTML = `<option value="default" selected disabled hidden>Chọn xã</option>`;
                    data.forEach(element => {
                        district.innerHTML += `<option value="${element.District_id}">${element.Name}</option>`;
                    });
                })
                .catch((error) => {
                    // handle error
                    console.log(error);
                });
        });
        district.addEventListener('change', (e) => {
            const district_id = e.target.value;
            axios.get(`http://localhost:3000/api/address/ward/${district_id}`)
                .then((response) => {
                    // handle success
                    const data = response.data;
                    ward.innerHTML = `<option value="default" selected disabled hidden>Chọn xã</option>`;
                    data.forEach(element => {
                        ward.innerHTML += `<option value="${element.Wards_id}">${element.Name}</option>`;
                    });
                })
                .catch((error) => {
                    // handle error
                    console.log(error);
                });
        });
    </script>
    <!-- send post request -->
    <script>
        const form = document.querySelector('.big-form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const name = document.querySelector('.hospital-name').value;
            const email = document.querySelector('.hospital-mail').value;
            const phoneNumber = document.querySelector('.hospital-phone-number').value;
            const street = document.querySelector('.hospital-street').value;
            const ward = parseInt(document.querySelector('.hospital-ward').value);
            const district = parseInt(document.querySelector('.hospital-district').value);
            const province = parseInt(document.querySelector('.hospital-province').value);
            const username = document.querySelector('.username').value;
            const password = document.querySelector('.password').value;
            const confirm_password = document.querySelector('.confirm-password').value;
            const role = 2;
            //validate
            if (username == '') {
                alert('Vui lòng nhập tên đăng nhập');
                return;
            }
            //check username length not > 255
            if (username.length > 255) {
                alert('Tên đăng nhập không được quá 255 ký tự');
                return;
            }
            if (password == '') {
                alert('Vui lòng nhập mật khẩu');
                return;
            }
            //check password length not > 30
            if (password.length > 30) {
                alert('Mật khẩu không được quá 30 ký tự');
                return;
            }
            if (confirm_password == '') {
                alert('Vui lòng nhập lại mật khẩu');
                return;
            }
            if (password != confirm_password) {
                alert('Mật khẩu không khớp');
                return;
            }
            //check name, email length not > 255
            if (name.length > 255) {
                alert('Tên không được quá 255 ký tự');
                return;
            }
            if (/^[^0-9!"#$%&()*+,-./:;<=>?@^_`[{|}~]*$/.test(name) == false) {
                alert('Tên chỉ chứa chữ cái');
                return;
            }
            if (email.length > 255) {
                alert('Email không được quá 255 ký tự');
                return;
            }
            if (/^[A-Za-z][\w$.]+@[\w]+\.\w+$/.test(email) == false) {
                alert('Email không hợp lệ');
                return;
            }
            //check phone number is only 10 or 11 digits
            if (/^\d+$/.test(phoneNumber) == false) {
                alert('Số điện thoại chỉ chứa số');
                return;
            }
            if (!(phoneNumber.length == 10 || phoneNumber.length == 11)) {
                alert('Số điện thoại phải có 10 hoặc 11 số');
                return;
            }
            //check phone number is start with 0
            if (phoneNumber[0] != '0') {
                alert('Số điện thoại phải bắt đầu bằng số 0');
                return;
            }
            //check address
            //check street length not > 255
            if (street.length > 255) {
                alert('Tên đường không được quá 255 ký tự');
                return;
            }

            if (!province || !district || !ward) {
                alert('Vui lòng chọn đầy đủ địa chỉ');
                return;
            }
            const address = {
                street,
                ward,
                district,
                province
            }
            const data = {
                username,
                password,
                role,
                name,
                email,
                phoneNumber,
                address
            }
            axios.post('/register', data)
                .then((response) => {
                    // handle success
                    alert('Đăng kí thành công');
                    window.location.href = '/login';
                })
                .catch((error) => {
                    // handle error
                    alert(error.response.data.message);
                });
        });
    </script>
</body>

</html>