<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/logo-pic.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css">
    <title>Blooddono</title>
</head>
<body>
    <div class="contain" id="container">
        <form action="#" class="big-form">
            <div class="form-container sign-up-container small-form">
                <h1>Thông tin sức khỏe</h1>
                    <div class="height-weigth">
                        <input type="text" class="customize" placeholder="Cân nặng (kg)" required/>
                        <input type="text" class="customize" placeholder="Chiều cao (cm)" required/>
                    </div>
                    <select id="blood-type" class="customize" name="blood-type" required>
                        <option value="" selected disabled hidden>Chọn nhóm máu</option>
                        <optgroup label="Nhóm máu A">
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                          </optgroup>
                          <optgroup label="Nhóm máu B">
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                          </optgroup>
                          <optgroup label="Nhóm máu AB">
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                          </optgroup>
                          <optgroup label="Nhóm máu O">
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                          </optgroup>
                      </select>
                    <button>Sign Up</button>
            </div>
            <div class="form-container sign-in-container small-form">
                <h1>Thông tin cá nhân</h1>
                    <input type="text" class="customize" placeholder="Họ và tên" required/>
                    <input type="text" class="customize" placeholder="Giới tính" required/>
                    <input type="date" class="customize" placeholder="Ngày sinh" required>
                    <input type="text" class="customize" placeholder="Địa chỉ" required/>
                    <button>Sign In</button>
            </div>
        </form>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js-Core/register.js"></script>
</body>
</html>