* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(207, 245, 231);
}

body {
    background-color: rgb(207, 245, 231);
}


/* -------------------Header------------------- */
#header .container-fluid {
    background-color: rgba(89, 193, 189, 0.5);
    border-bottom: 1px solid rgb(89, 92, 94);;
    height: 46px;
}

#header .row {
    justify-content: space-between;
}

#header .line {
    display: inline-block;
}

.logo-pic img {
    width: 46px;
    height: 46px;
    padding: 5px 5px;
}

.logo-name {
    font-size: 16px;
    color: black;
    line-height: 46px;
    font-weight: 900;
}

.log-in-out .fa-solid {
    font-size: 25px;
    padding: 10px 15px;
    color: black;
    cursor: pointer;
    transition: color 0.3s;
}

.log-in-out .fa-solid:hover {
    color: rgb(113, 114, 114);
}
/* -------------------------------------- */

#content {
    background-color: rgb(207, 245, 231);
}

#content .donor-box {
    width: 90%;
    height: 93.5vh;
    padding-top: 40px;
    padding-bottom: 110px;
    background: rgb(2,0,36);
    background: rgb(160, 228, 203);
}


.donor-box .col-3 .user-interface {
    padding: 25px 0;
    text-align: center;
}

.donor-box .col-3 .user-interface .user-avt {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.donor-box .col-3 .user-interface .user-name {
    font-size: 16px;
    font-weight: 650;
    margin-top: 10px;
}

.donor-box .col-3 .user-interface .edit-tag {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(83, 137, 231);
}

.donor-box .col-3 .confirm-btn {
    margin-top: 260px;
    text-align: center;
}

.donor-box .col-3 .btn {
    margin-bottom: 40px;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(83, 137, 231);
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: background 0.3s;
}

.donor-box .col-3 .btn:hover {
    color: rgb(83, 137, 231, 0.8);
    background-color: white;
}

.donor-box .col-8 h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.donor-box .col-8 {
    padding: 10px;
}

.donor-box .col-8 .search-address {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}


.donor-box .col-8 .btn-search {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 84, 76);
    color: white;
    font-size: 15px;
    font-weight: 600;
    transition: background 0.3s;
}

.donor-box .col-8 .btn-search:hover {
    color: white;
    background-color: rgb(0, 84, 76, 0.6);
}

select {
    margin-right: 8px !important;
    width: 250px;
    height: 27px;
    border: 1px solid rgba(0, 84, 76, 0.63);
    border-radius: 5px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 0 !important;
}

thead {
    background: #f9f9f9;
    display: table;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

tbody {
    background-color: #f9f9f9;
    max-height: 420px;
    overflow: auto;
    display: block;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

tbody::-webkit-scrollbar {
    width: 5px;
}

tbody::-webkit-scrollbar-track {
    background: #f1f1f1;
}

tbody::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.index {
    width: 10%;
    text-align: center;
}

.flex-around {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}