* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(229, 252, 244);
}

body {
    background-color: rgb(229, 252, 244) !important;
}

.box {
    display: flex;
}

ul {
    margin: 0 !important;
}

li {
    list-style-type: none;
}

.flex {
    display: flex !important;
}

.label {
    margin-right: 5px !important;
}

header .container-fluid {
    background-color: rgba(89, 193, 189, 0.5);
    border-bottom: 1px solid rgb(89, 92, 94);;
    height: 46px;
}

header .row {
    justify-content: space-between;
}

header .line {
    display: inline-block;
}

.logo-pic img {
    width: 46px;
    height: 46px;
    padding: 5px 5px;
}

.logo-name {
    font-size: 16px;
    color: black;
    line-height: 46px;
    font-weight: 900;
}

.logo-name sup {
    font-size: 9px;
    font-weight: 300;
}

.content .container-fluid{
    background-color: white;
    width: 1300px;
    height: 93.5vh;
    
}

.search-donor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 100px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    background-color: #ECF9F4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#search-blood-type {
    margin: 5px 40px 5px 0;
}

select {
    width: 160px;
    height: 30px;
    border: 1px solid rgba(0, 84, 76, 0.63);
    border-radius: 20px;
    padding: 0 10px;
}

select.customize {
    width: 220px;
    height: 30px;
    border: 1px solid rgba(0, 84, 76, 0.63);
    border-radius: 20px;
    padding: 0 10px;
    margin: 5px;
}

.filter .btn-search {
    width: 120px;
    height: 30px;
    border: 1px solid rgba(0, 84, 76, 0.63);
    background-color: rgb(0, 84, 76);
    color: white;
    border-radius: 20px;
    padding: 0 10px;
    margin: 35px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.filter .btn-search:hover {
    background-color: #f6f5f7;
    color: rgb(0, 84, 76);
}

.donor-list .row.tilte {
    margin: 20px 0 0 0;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #ECF9F4;
}

.donor-list .donor-items {
    height: 430px;
    overflow-y: auto;
}

.donor-list .donor-items::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.donor-list .donor-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dddede;
}

.donor-list .row.item {
    width: 1090px;
    border-radius: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 5px 0;
    margin: 0 5px;
    cursor: pointer;
}

.donor-list .row.item:hover {
    background-color: #f6f5f7;
}

.donor-list .row.item button.col-2 {
    width: 100px;
    height: 30px;
    border: 1px solid rgba(83, 127, 231, 0.81);
    background-color: #537FE7;
    color: white;
    border-radius: 20px;
    padding: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.donor-list .row.item button.col-2:hover {
    background-color: #2d55b1;
    color: white;
}

.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;  
    align-items: center;
    justify-content: center;
}

.Modal.open {
    display: flex;
}   

.Modal .Modal-container {
    background-color: white;
    width: 620px;
    max-width: calc(100% - 40px);
    min-height: 280px;
    position: relative;
    border-radius: 10px;
    animation: fadeIn ease 0.5s;
}
.Modal .Modal-container .close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px;
    font-size: 15px;
    cursor: pointer;
    color: rgb(115, 113, 113);
    transition: color 0.3s;
}

.Modal .Modal-container .donor-avatar {
    position: absolute;
    top: -15%;
    right: 3%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Modal .Modal-container .donor-general-info {
    position: absolute;
    top: 10%;
    right: 30%;
    color: rgb(115, 113, 113);
}

.donor-general-info>.flex {
    justify-content: right;
}

.Modal .Modal-container .Modal-detail {
    position: absolute;
    top: 47%;
    left: 0;
    width: 100%;
    height: 70%;
    padding: 10px 20px;
}

@keyframes fadeIn {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}